[Unit]
Description=pve-meta metadata API daemon
Wants=network-online.target
After=network.target pve-cluster.service
Wants=pve-cluster.service

[Service]
Type=notify
ExecStart=/usr/sbin/pve-metad
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/pve-metad.pid
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
